div.dtable{
    display: table;
    border-spacing: 5px;
}
div.drow{
    display: table-row;
}
div.dcell, div.hcell{
    display: table-cell;
    padding: 3px;
}
div.hcell{
    background-color: #0078ae;
    font-weight: bold;
    color: white;
    text-align: center;
}

#adder input{
    display: none;
    vertical-align: center;

}
#adder button{
    display: none;
}